@import "tailwindcss";

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #444;
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #666;
}

/* Apply to ALL scrollbars in Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #444 transparent;
}
html, body, #root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
  height:100%;
}
body {
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, sans-serif;
}
